# Carpeta generada por quarto render
_site/

# Archivos de salida temporales
*.html
*.pdf
*.docx
*.pptx
*.epub

# Archivos de caché o temporales
*.log
*.aux
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos de R (si usas R con Quarto)
*.Rproj.user/
*.Rhistory
*.Rdata
*.Ruserdata

# Configuración de editor (VS Code)
.vscode/
*.code-workspace
/.quarto/
